<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">老旧小区改造管控系统</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <main class="main-content">
        <div layout:fragment="content"></div>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>
